@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
#nav-logo{
    font-family: "Roboto";
    color: white;
    font-weight: 900;
    font-size: 27px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 5px;
    
}
.banner-bg-container{
    background-color: #191a1d;
    background-size: cover;
    height: 100vh;
}
.banner-heading{
    color: white;
    font-family: "Roboto";
    font-size: 50px;
}
.banner-image{
    height: 200px;
    width: 200px;
}
.banner-para{
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 27px;
}
.banner-button{
    background-color: #4b6cc1;
    color: white;
    border-style: none;
    border-width: 0px;
    font-family: "Roboto";
    font-size: 17px;
    height: 50px;
    width: 140px;
    border-radius: 7px;
}
.bg-container1{
    background-color: #323f4b;
}
.bg-container2{
    background-color: #1f2933;
}
.about-me-heading{
    font-family: "Roboto";
    color: #cced00;
    font-size: 30px;
    font-weight: 600;
}
.about-me-heading2{
    font-family: "Roboto";
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.about-me-image1{
    width: 100%;
}
.para{
    font-family: "Roboto";
    color: #9aa5b1;
    font-size: 25px;
}
.skill-card{
    background-color: #323f4b;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.skill-image{
    height: 100px;
    width: 100px;
}
.skill-heading{
    font-family: "Roboto";
    color: white;
    font-size: 35px;
    font-weight: 600;
}
#projects-section{
    background-color: #3e4c59;
}
.project-card{
    width: 100%;
    background-color: #323f4b;
    border-radius: 10px;
}
.project-image{
    width: 100%;
}
.project-para1{
    font-family: "Roboto";
    color: #9aa5b1;
    font-size: 20px;
}
.project-card-heading{
    font-family: "Roboto";
    color: white;
    font-size: 35px;
}
#portfolio-website-services-section{
    background-color: #52606d;
}
.service-card{
    background-color: #323f4b;
    border-radius: 10px;
}
.service-image{
    height: 75px;
    width: 75px;
}
.service-heading{
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
}
.service-para
{   
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 25px;
}
#portfolio-website-workdone-section{
    background-image: URL("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;
}
.workdone-heading{
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: "Roboto";
}
.workdone-para{
    color: white;
    font-size: 20px;
    font-family: "Roboto";
}
hr{
    background-color: white;
    width: 60px;
    border-width: 1px;
}
#portfolio-testimonials-section{
    background-color: #1f2933;
}
.carousel-item1{
    background-color: #323f4b;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-image{
    border-radius: 200px;
    height: 150px;
    width: 150px;
}
.carousel-para{
    font-family: "Roboto";
    color: #9aa5b1;
    font-size: 30px;
}
.carousel-para2{
    font-family: "Roboto";
    color: white;
    font-size: 32px;
}
#portfolio-website-footer{
    background-color: #0d2436;
}
.footer-image{
    height: 110px;
    width: 110px;
    border-radius: 100px;
}
.footer-heading{
    font-family: "Roboto";
    color: #cced00;
    font-size: 30px;
    font-weight: bold;
}
.footer-para{
    font-family: "Roboto";
    color: #9aa5b1;
    font-size: 25px;
}
.bg-container{
    background-color: #001c32;
}